/**
 * These are the variables used throughout the application. This is where
 * overwrites that are not specific to components should be maintained.
 */



/**
 * Typography-related.
 */

@icon-font-path: '';
@sansFontFamily: 'Roboto', sans-serif;

@blue: #007ce0;
@meGray: #cccccc;

//Extra Colors
@wfpBlueColor: #0088FF;

//Base Colors
@whiteColor: #fff;
@extraLightGrayColor: #eeeeee;
@lightGrayColor: #cccccc;
@grayColor: #888888;
@darkGrayColor: #333333;
@blackColor: #000;

@greenColor: #1ebfb3;
@blueColor: #007CE0;
@extraLightBlueColor: #edf6fd;
@orangeColor: #f2645a;

@redColor: #ff0000;

@defaultLinkColor: @blueColor;

//Fonts
@gothamBoldFont: 'Gotham-Bold', sans-serif;
@gothamBookFont: 'Gotham-Book', sans-serif;
@gothamLightFont: 'Gotham-Light', sans-serif;
@gothamMediumFont: 'Gotham-Medium', sans-serif;
@sourceSansProFont: 'Source Sans Pro', sans-serif;

@headerFontSize: 14px;
@headerLeftRightMargin: 20px;