<div class="chart-box">
    <div ng-if="hasMoreCharts" class="dropdown with-transparent-button">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
            {{selectedChart.name}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li ng-repeat="chart in data"><a ng-click="onChangeCharts($index)" href="#">{{chart.name}}</a></li>
        </ul>
        <span ng-if="appliedFilters">Filtered by {{appliedFilters}}</span>
    </div>
    <div ng-if="!hasMoreCharts" class="dropdown">
        <strong>{{selectedChart.name}}</strong> <span ng-if="appliedFilters">Filtered by {{appliedFilters}}</span>
    </div>
    <div id="{{id}}" class="chart-item-wrapper">

    </div>
</div>