@chart-item-height: 50%;
@charts-padding: 15px;
#charts {
  display: flex;
  flex-flow: column;
  left: auto;

  position: absolute;
  height: 100%;
  overflow: auto;

  z-index: 999;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  padding-top: @charts-padding;
  padding-bottom: @charts-padding;
  .chart-item{
    float: left;
    //margin: 0 @charts-padding @charts-padding 0;
    //margin-bottom: @charts-padding;
    height: @chart-item-height;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    .dropdown {
      margin-bottom: 10px;
      .btn-default{
        font-family: "Source Sans Pro", sans-serif;
        font-size: 20px;
      }
    }
    .chart-box{
      border-bottom: 1px solid @meGray;
      height: 100%;
      display: flex;
        flex-flow: column;
        .dropdown {
          flex: 0 0 auto;
        }
        .chart-item-wrapper {
          flex: 1 1 auto;
        }
    }
    //&.rendered{
    //}
  }
  &.slide{
    .toggle{
      left: auto;
      .glyphicon-chevron-right{
        display: none
      }
      .glyphicon-chevron-left{
        display: block;
      }
    }
  }
  .toggle{
    display: none;
    left: -21px;
    top: 20px;
    .glyphicon-chevron-right{
      display: block;
    }
    .glyphicon-chevron-left,
    .glyphicon-chevron-up,
    .glyphicon-chevron-down{
      display: none;
    }
  }
}

@media (max-width: @screen-sm-max){
  //styles for mobile landscape and tablet portrait
  #charts {
    .toggle{
      display: block;
    }
    &.slide{
      right: -100%;
      .toggle {
        position: fixed;
        right: 0;
        top: auto;
        .glyphicon-chevron-left{
          display: block;
        }
        .glyphicon-chevron-right{
          display: none;
        }
      }
    }
  }
}


@media (max-width: @screen-sm-max) and (orientation: portrait) {
  //styles for mobile portrait view -- charts appear at bottom of screen
  #charts {
    flex-flow: row nowrap;
    bottom: 0;
    right: auto;
    width: auto;
    min-width: 100%;
    height: 40%;
    .chart-item {
      //width: 330px;
      height: auto;
    }
    .chart-item + .chart-item {
      display: none;
    }
    .toggle {
      position: absolute;
      height: 21px;
      width: 40px;
      left: 0px;
      top: 10px;
      padding: 0 11px;
      .glyphicon-chevron-up,
      .glyphicon-chevron-left,
      .glyphicon-chevron-right {
        display: none;
      }
      .glyphicon-chevron-down {
        display: block;
      }
    }
    &.slide {
      bottom: -100%;
      .toggle {
        position: fixed;
        bottom: 0;
        left: 20px;
        right: auto;
        top: auto;
        .glyphicon-chevron-up {
          display: block;
        }
        .glyphicon-chevron-down {
          display: none;
        }
      }
    }
  }
}