@chart-item-height: 48%;
@charts-padding: 15px;
#charts {
  display: flex;
  flex-flow: column;
  left: auto;

  position: absolute;
  height: 100%;
  //overflow: auto;

  z-index: 999;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  padding-top: @charts-padding;
  padding-bottom: @charts-padding;
  #chart-item-holder{
    display: flex;
    flex-flow: column;
    height: 100%;
    left: 0;
    min-width: 100%;
    position: absolute;
    top: 0;
    overflow-y: scroll;
  }
  .chart-item:last-child{
    .chart-box{
      border-bottom-width: 0;
    }
  }
  .chart-item{
    float: left;
    //margin: 0 @charts-padding @charts-padding 0;
    //margin-bottom: @charts-padding;
    height: @chart-item-height;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    .grouping-title {
      .gothamBoldFont(14px);
      color: @darkGrayColor;
      letter-spacing: 0.01em;
    }
    //.dropdown {
    //  margin-bottom: 10px;
    //}
    .chart-box{
      border-bottom: 1px solid @meGray;
      height: 100%;
      display: flex;
        flex-flow: column;
        .dropdown {
          flex: 0 0 auto;
        }
        .chart-item-wrapper {
          flex: 1 1 auto;
        }
    }
    //&.rendered{
    //}
  }

  .filterby-title{
    .sourceSansProFont(400, 12px);
    letter-spacing: 0.01em;
    line-height: 18px;
    color: @blackColor;
  }

  .powered-by{
    position: absolute;
    right: 10px;
    bottom: 5px;
    z-index: 1001;
  }
  &.slide{
    .toggle{
      left: auto;
      .glyphicon-chevron-right{
        display: none
      }
      .glyphicon-chevron-left{
        display: block;
      }
    }
  }
  .toggle{
    display: none;
    left: 20px;
    position: absolute;
    top: 20px;
    z-index: 1000;
    .glyphicon-chevron-right{
      display: block;
    }
    .glyphicon-chevron-left,
    .glyphicon-chevron-up,
    .glyphicon-chevron-down{
      display: none;
    }
  }
  #chart-pagination{
    display: none;
    position: absolute;
    right: 0;
    @chart-pagination-dot-size: 10px;
    @chart-pagination-active: 0.6;
    @chart-pagination-inactive: 0.2;
    .dot{
      background-color: @blackColor;
      border-radius: 50%;
      display: block;
      height: @chart-pagination-dot-size;
      margin-right: 5px;
      opacity: @chart-pagination-inactive;
      width: @chart-pagination-dot-size;
      &:first-child{
        opacity: @chart-pagination-active;
      }
      &.active{
        opacity: @chart-pagination-active;
      }
    }
  }
}


@media (max-width: @screen-sm-max){
  //styles for mobile landscape and tablet portrait
  #charts {
    padding-left: 5px;
    .toggle{
      display: block;
    }
    #chart-item-holder{
      height: auto;
      flex-flow: row wrap;
      @chart-item-width: 290px;
      @chart-item-height: 375px;
      .chart-item{
        height: @chart-item-height;
        width: @chart-item-width;
      }
      .chart-box{
        border: 0;
      }
      > .chart-item{
        padding: 40px 10px;
        .grouping-title {
          .gothamBoldFont(14px);
          color: @darkGrayColor;
          letter-spacing: 0.01em;
        }
      }
    }
    #chart-pagination{
      bottom: 50%;
      display: block;
      .dot{
        display: block;
        margin-bottom: 5px;
      }
    }
    &.slide{
      right: -100%;
      .toggle {
        position: fixed;
        right: 0;
        top: auto;
        .glyphicon-chevron-left{
          display: block;
        }
        .glyphicon-chevron-right{
          display: none;
        }
      }
    }
  }
}


@media (max-width: @screen-sm-max) and (orientation: portrait) {
  //styles for mobile portrait view -- charts appear at bottom of screen
  #charts{
    flex-flow: row nowrap;
    bottom: 0;
    right: auto;
    width: 100%;
    height: 40%;
    #chart-item-holder{
      flex-flow: nowrap;
      @chart-item-width: 769px;
      @chart-item-height: 400px;
      .chart-item {
        height: @chart-item-height;
        width: @chart-item-width;
      }
      .chart-box {
        border-bottom-width: 0;
      }
      > .chart-item{
        padding: 30px 0;
      }
    }

    .toggle {
      position: absolute;
      height: 21px;
      width: 40px;
      left: 0px;
      top: 10px;
      padding: 0 11px;
      .glyphicon-chevron-up,
      .glyphicon-chevron-left,
      .glyphicon-chevron-right {
        display: none;
      }
      .glyphicon-chevron-down {
        display: block;
      }
    }
    &.slide {
      bottom: -100%;
      .toggle {
        position: fixed;
        bottom: 0;
        left: 0;
        right: auto;
        top: auto;
        .glyphicon-chevron-up {
          display: block;
        }
        .glyphicon-chevron-left,
        .glyphicon-chevron-right,
        .glyphicon-chevron-down {
          display: none;
        }
      }
    }
    .powered-by{
      bottom: 0;
      left: 10px;
      display: block;
    }
    #chart-pagination{
      bottom: 15px;
      left: 50%;
      right: auto;
      .dot{
        display: inline-block;
        margin-right: 5px;
      }
    }
  }
}

@iphone5W: 320px;
@iphone6W: 375px;
@iphone6PlusW: 414px;
@iphone5H: 568px;

@media (max-width: @iphone5H) { 
  @chart-item-width: 240px;
  @chart-item-height: 330px;
  #charts{
    #chart-item-holder{
      .chart-item {
        height: @chart-item-height;
        width: @chart-item-width;
      }
    }
  }
}


@media (max-width: @iphone6PlusW) and (orientation: portrait) { 
  @chart-item-width: @iphone6PlusW;
  @chart-item-height: 290px;
  #charts{
    #chart-item-holder{
      .chart-item {
        height: @chart-item-height;
        width: @chart-item-width;
      }
    }
  }
}

@media (max-width: @iphone6W) and (orientation: portrait) { 
  @chart-item-width: @iphone6W;
  @chart-item-height: 266px;
  #charts{
    #chart-item-holder{
      .chart-item {
        height: @chart-item-height;
        width: @chart-item-width;
      }
    }
  }
}


@media (max-width: @iphone5W) and (orientation: portrait) { 
  @chart-item-width: @iphone5W;
  @chart-item-height: 220px;
  #charts{
    #chart-item-holder{
      .chart-item {
        height: chartItemH;
        width: @chart-item-width;
      }
    }
    .powered-by{
      .text-larger{
        font-size: 7px;
      }
    }
  }
}