<div class="row full-height">
    <div id="map" class="col-xs-12">
    </div>
    <layer-legend map="map" data="model.datasets" add-action="addSlice" remove-action="removeSlice" class="leaflet-control-layers leaflet-control" initial-slice="initialSliceId"></layer-legend>

    <div id="charts" class="col-xs-6 col-sm-3">
        <div class="toggle" onclick="$('#charts').toggleClass('slide');">
            <i class="glyphicon glyphicon-chevron-down"></i>
            <i class="glyphicon glyphicon-chevron-up"></i>
            <i class="glyphicon glyphicon-chevron-left"></i>
            <i class="glyphicon glyphicon-chevron-right"></i>
        </div>
        <div class="powered-by" ng-click="alert('aaaa')">
            <a href="https://data.hdx.rwlabs.org"><span class="text-larger">Powered by</span> <span class="hdx-logo"></span></a>
        </div>
        <div class="chart-item" ng-repeat="(type, charts) in chartsGroup">
            <chart-item chart-id="'chart-item' + $index" data="charts" url="model.url" type="type"></chart-item>
        </div>
    </div>
</div>

