@import "legend/legend.less";
@import "charts.less";
@import "loading.less";

@logo-height: 17px;
@logo-width: 72px;

.homeClass {
  margin: 0 0 0 0;
}

html, body, .full-height {
  height: 100%;
  overflow: hidden;
}

#map {
  height: 100%;
  &.full-width{
    .leaflet-right{
      right: 2%;
    }  
  }
}

.text-info {
  .sourceSansProFont(400, 12px);
  color: @grayColor;
  letter-spacing: 0.01em;
}

.text-normal {
  .sourceSansProFont(400, 12px);
  color: @darkGrayColor;
  &.spacing{
    letter-spacing: 0.01em;
  }
}

.text-larger {
  .sourceSansProFont(400, 14px);
}

.title-normal {
  .sourceSansProFont(700, 14px);
  color: @darkGrayColor;
  letter-spacing: 0.01em;
}

.powered-by {
  a {
    color: @darkGrayColor;
    text-decoration: none;
  }
  .hdx-logo {
    background-image: url("images/logo-beta.svg");
    background-size: @logo-width @logo-height;
    background-repeat: no-repeat;
    background-position: bottom;
    height: @logo-height;
    width: @logo-width;
    display: inline-block;
    margin-left: 7px;
    vertical-align: middle;
  }
}