@import "legend/legend.less";
@import "charts.less";
@import "loading.less";

@logo-height: 17px;
@logo-width: 72px;

.homeClass {
  margin: 0 0 0 0;
}

html, body, .full-height {
  height: 100%;
  overflow: hidden;
}

#map {
  height: 100%;
  &.full-width{
    .leaflet-right{
      right: 2%;
    }  
  }
}

.text-info {
  .sourceSansProFont(400, 12px);
  color: @grayColor;
  letter-spacing: 0.01em;
}

.text-normal {
  .sourceSansProFont(400, 12px);
  color: @darkGrayColor;
  &.spacing{
    letter-spacing: 0.01em;
  }
}

.text-larger {
  .sourceSansProFont(400, 14px);
}

.title-normal {
  .sourceSansProFont(700, 14px);
  color: @darkGrayColor;
  letter-spacing: 0.01em;
}

.powered-by {
  a {
    color: @darkGrayColor;
    text-decoration: none;
  }
  .hdx-logo {
    background-image: url("images/logo-beta.svg");
    background-size: @logo-width @logo-height;
    background-repeat: no-repeat;
    background-position: bottom;
    height: @logo-height;
    width: @logo-width;
    display: inline-block;
    margin-left: 7px;
    vertical-align: middle;
  }
}


//hide close button on desktop view
.leaflet-container a.leaflet-popup-close-button{
  display: none;
}

#mobile-header{
  @mobile-header-height: 73px;
  @mobile-header-font-size: 14px;
  @mobile-header-top-padding: 10px;
  @mobile-header-padding: 15px;
  display: none;
  background-color: @extraLightBlueColor;
  border-bottom: 1px solid @lightGrayColor;
  max-height: @mobile-header-height;
  padding: @mobile-header-top-padding @mobile-header-padding @mobile-header-padding;
  position: relative;
  i{
    position: absolute;
    right: @mobile-header-padding;
    top: @mobile-header-top-padding;
  }
  p{
    .sourceSansProFont(400, @mobile-header-font-size);
    line-height: @mobile-header-font-size+2;
    margin-bottom: 0;
    &.title{
      .gothamBoldFont(@mobile-header-font-size);
      margin-bottom: 3px;
    }
  }
}

#charts {
  .noLayers {
    position: relative;
    height: 100%;
    width: 100%;
    & > div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      img {
        width: 100px;
      }
      p {
        margin-top: 30px;
        color: @lightGrayColor;
        .sourceSansProFont(400, 14px);
      }
    }
  }
}

@media (max-width: @screen-sm-max) {
  //styles for mobile landscape
  #mobile-header{
    display: block;
  }
  .leaflet-container a.leaflet-popup-close-button{
    display: block;
  }
}

@media (max-width: @screen-sm-max) and (orientation: portrait) {
  //styles for mobile portrait view -- charts appear at bottom of screen
  .leaflet-container a.leaflet-popup-close-button{
    display: block;
  }
}