<div class=" legend-list">
    <div class="legend-item">
        <div>Add up to 3 layers on the map</div>
        <select ng-model="selection" ng-change="selectSlice(selection);" ui-select2>
            <option></option>
            <optgroup ng-repeat="type in data" label="{{type.type}}">
                <option ng-repeat="dataset in type.datasets" value="{{dataset.url}}">{{dataset.name}}</option>
            </optgroup>
        </select>
    </div>
    <div class="legend-item" ng-repeat="item in legends">
        <div class="row">
            <div class="col-xs-8">
                <div>{{item.name}}</div>
            </div>
            <div class="col-xs-4">
                Info <i class="glyphicon glyphicon-cog"></i> <i class="glyphicon glyphicon-remove"></i>
            </div>
        </div>
        <div>
            <ul class="legend-colors">
                <li ng-repeat="color in item.colors" style="background-color: {{color}}">
                    <span>{{item.threshold[$index]}}</span>
                </li>
            </ul>

        </div>
    </div>
</div>
