<div class=" legend-list">
    <div class="legend-item">
        <div class="text-info">Add up to 3 layers on the map</div>
        <ui-select ng-model="selection" ng-change="selectSlice(selection);" >
            <ui-select-match placeholder="Select layer">
                <span ng-bind="$select.selected.name"></span>
            </ui-select-match>
            <ui-select-choices group-by="'type'" repeat="item in data track by item.url">
                <div ng-bind="item.name | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="legend-item" ng-repeat="(type,item) in legends">
        <div class="row">
            <div class="col-xs-8">
                <div class="text-normal">Map layer {{$index + 1}}</div>
            </div>
            <div class="col-xs-4">
                <a href><span class="text-normal">Info</span></a>
                <i class="glyphicon glyphicon-cog"></i>
                <a href ng-click="removeSlice(type);"><i class="glyphicon glyphicon-remove"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="title-normal">{{item.name}}</div>
            </div>
        </div>
        <div>
            <ul class="legend-colors">
                <li ng-repeat="color in item.colors" style="background-color: {{color}}">
                    <span>{{item.threshold[$index]}}</span>
                </li>
            </ul>

        </div>
    </div>
</div>
